<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 class="font-weight-bold">マイページ</h3>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
    <p class="h5 font-weight-bold">登録情報</p> <p class="ml-2"><%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-success" %></p></div>

    <div class="row d-flex justify-content-center align-items-center">
     <table class="table table-bordered text-center">
     <tr>
      <th><p class="font-weight-bold">氏名</th>
      <td colspan="2"><%= @customer.last_name %>　<%= @customer.first_name %></td>
     </tr>

     <tr>
     <th><p class="font-weight-bold">カナ</p></th>
      <td colspan="2"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
     </tr>

     <tr>
      <th><p class="font-weight-bold">郵便番号</p></th>
      <td colspan="2"><%= @customer.postal_code %></td>
     </tr>

     <tr>
       <th><p class="font-weight-bold">住所</p></th>
       <td colspan="2"><%= @customer.address %></td>
     </tr>

     <tr>
       <th><p class="font-weight-bold">電話番号</p></th>
       <td colspan="2"><%= @customer.telephone_number %></td>
     </tr>

     <tr>
       <th><p class="font-weight-bold">メールアドレス</p></th>
       <td colspan="2"><%= @customer.email %></td>
     </tr>
        </table>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
     <p class="h5 font-weight-bold">配送先</p>
     <p class="ml-2"><%= link_to '一覧を見る', addresses_path, class: "btn btn-primary" %></p>
    </div>

    <div class="row d-flex align-items-center justify-content-center">
     <p class="h5 font-weight-bold">注文履歴</p>
     <p class="ml-2"><%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %></p>
    </div>

</div>