<div class="container">
  <h3 class='h3 mb-2 font-weight-normal d-flex justify-content-center'>商品新規登録</h3>
    <%= form_with model: [ :admin, @item ], local: true do |f| %>
  <div class='row my-4'>
    <div class='mx-auto'>
      <table class='table　table-borderless font-weight-normal' style='height: 400px'>
        <tr>
          <th>商品画像</th>
          <td>
            <%= attachment_image_tag @item, :image, class: "rounded", size:"300x200" %>
            <%= f.attachment_field :image, placeholder: "商品画像" %>
          </td>
        </tr>
         <tr>
          <th>商品名</th>
          <td><%= f.text_field :name %></td>
        </tr>
         <tr>
          <th>商品説明</th>
          <td><%= f.text_area :introduction, :size=>"40" %></td>
        </tr>
         <tr>
          <th>ジャンル</th>
          <td> <%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
        </tr>
         <tr>
          <th>税抜価格</th>
          <td><%= f.text_field :price %>円</td>
        </tr>
         <tr>
          <th>販売ステータス</th>
          <td><%= f.select :is_active, [["販売中","true"],["売り切れ","false"]], :prompt=>"選択してください" %></td>
        </tr>
      </table>
    </div>
  </div>
    <div class='row justify-content-center'>
      <%= f.submit "変更を保存", class: "btn btn-success"%>
    </div>
  </div>
<% end %>
</div>