<div class="container">

	<div class="row mb-1 d-flex justify-content-center">
		<h4 class="h4 border-bottom text-center">商品詳細</h4>
	</div>


	<div class="row mb-1 d-flex justify-content-center">
		<div class="col-4 d-flex align-items-center">
			
			<%= attachment_image_tag @item, :image,class:"rounded", size:"300x200" %>
			
		</div>

			<table class='col-4 table table-borderless font-weight-normal'>
				<tr>
					<td>商品名</td>
					<td><%= @item.name %></td>
				</tr>

				<tr>
					<td>商品説明</td>
					<td><%= @item.introduction %></td>
				</tr>

				<tr>
					<td>ジャンル</td>
					<td><%= @item.genre.name %></td>
				</tr>

				<tr>
					<td>税込価格</br>(税抜価格)</td>
					<td><%= (@item.price*1.1).floor %>(<%= @item.price %>)円</td>
				</tr>

				<tr>
					<td>販売ステータス</td>
					<th class="text-success">
						<% if @item.is_active == true %>
						販売中
						<% else %>
						販売停止中
						<% end %>
					</th>
				</tr>
				</table>
				</div>

       <div class="row mb-1 d-flex justify-content-center">
       	<%= link_to '編集する', edit_admin_item_path(@item), class:"ml-4 btn btn-success" %>
       		
       </div>
		</div>
</div>
