<div class='container'>
  <div class='row d-flex justify-content-center'>
    <h4 class='h4 border-bottom'><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報</h4>
  </div>
    <div class='d-flex justify-content-center'>
      <%= form_with model:@customer,url: admin_customer_path(@customer), local: true do |f| %>
        <table class='table table-borderless my-4'>
          <tr>
            <td>会員id</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td> <%= f.text_field :last_name %></td>
            <td> <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %></td>
            <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><label><%= f.radio_button :is_deleted, "false" %>有効</label><label><%= f.radio_button :is_deleted, "true" %>無効</label></td>
          </tr>
        </table>
       </div>
      <div class="row d-flex justify-content-center">
      <%= f.submit '変更を保存', class: "btn btn-success" %>
    </div>
  <% end %>
</div>