<div class="container">
  <div class="row d-flex justify-content-center">
    <h3><p class="border-bottom rounded font-weight-bold">注文情報確認</p></h3>
  </div>

  <div class="row d-flex justify-content-center">
   <table class="table">
     <thead>
       <tr>
       <th scope="col"><p class="font-weight-bold text-center">商品名</p></th>
       <th scope="col"><p class="font-weight-bold">単価(税込)</p></th>
       <th scope="col"><p class="font-weight-bold">数量</p></th>
       <th scope="col"><p class="font-weight-bold">小計</p></th>
      </tr>
      </thead>
      <tbody>
        <% @sum = 0 %>
	      <% @cart_items.each do |cart_item| %>
	     <tr>
        <th scope="col">
          <p class="text-center"><%= attachment_image_tag(cart_item.item, :image,size: "45x45", fallback: "img/no_image.jpg",class:"rounded") %><%= cart_item.item.name %></p>
        </th>

        <th scope="col">
         <%= (cart_item.item.price*1.1).floor %>
        </th>
        <th scope="col">

          <%= cart_item.amount %>
        </th>
        <th scope="col">

          <%= (cart_item.item.price*1.1*cart_item.amount).floor %>
        </th>
         <% @sum += (cart_item.item.price*1.1*cart_item.amount).floor %>
      <% end %>
      </tr>
      </tbody>
    </table>
    </div>

    <div class="row">
      <div class="col-lg-9"></div>
      <div class="col-lg-3">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col w-30 p-3 text-center">送料</th>
        <th scope="col w-30 p-3 text-center">商品合計</th>
        <th scope="col w-30 p-3 text-center">請求金額</th>
      </tr>
      </thead>
      <tr>
       <td scope="col w-30 p-3"><p class="border-bottom text-center">800</p></td>
       <td scope="col w-30 p-3"><p class="border-bottom text-center"><%= @sum %></p></td>
       <td scope="col w-30 p-3"><p class="border-bottom text-center"><%= @sum+800 %></p></td>
      </tr>
    </table>
    </div>
    </div>


  <div class="row d-flex justify-content-center">
    <table>
      <tr>
        <th>
          <p class="font-weight-bold border-bottom">支払方法</p>
        </th>
        <th><p class="font-weight-normal text-center"><%= @order.payment_method %></p></th>
      </tr>

      <tr>
        <td>
          <p class="font-weight-bold border-bottom">お届け先</p>
        </td>
      <td>
        <p class="font-weight-normal text-center">〒<%= @order.postal_code %> <%= @order.address %></br></p>
      </td>
      </tr>
      <tr> <td></td>
      <td><p class="font-weight-normal text-center"><%= @order.name %></p></td></tr>
    </table>
  </div>
  <div class="row d-flex justify-content-center">
    <!--<= link_to '注文を確定する', orders_path, method: :post, class: "btn btn-success" %>-->

    <%= form_with model:@order, url:'complete', local:true do |f| %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :name, :value => @order.name %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :sum, :value => @sum %>
    <% end %>
      <%= link_to '注文を確定する', orders_complete_path, method: :get, class: "btn btn-success" %>
  </div>
</div>