<div class='container'>
  <div class ='row'>
    <h3 class="h3 font-weight-bold">商品一覧</h2><p class='text-muted'>（全<%= @items.count %>件）</p>
  </div>
  <div class='row mx-auto'>
    <% @items.each do |item| %>
      <table class='col-4'>
        <tr>
          <td><%= link_to item_path(item) do %>
            <%= attachment_image_tag(item, :image, fallback: "img/no_image.jpg",size: "250x250",class:"img-thumbnail") %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= item.name %> ￥<%= item.price %></th>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="mx-auto">
    <%= paginate @items %>
  </div>
</div>